## Tuples

In [2]:
# two ways of creating tuple
a = (6, 7)
a

(6, 7)

In [2]:
a = 1,2
print(type(a))

<class 'tuple'>

## Function in tuple

In [3]:
a = (1,3,4)
b = 4,5

In [4]:
for i in a:
    print(i)

1
3
4

In [5]:
1 in a

True

In [6]:
3 in b

False

In [8]:
#concatination
c = a + b
c

(1, 3, 4, 4, 5)

In [10]:
d = (a,b)
d

((1, 3, 4), (4, 5))

In [14]:
e = b*4
e

(4, 5, 4, 5, 4, 5, 4, 5)

In [15]:
min(a)

1

In [16]:
max(b)

5

In [17]:
a2 = (1,2,"a",(1,2))
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
#list to tuple
l = [1,2,3]
tuple(l)
l
print(type(l))

TypeError: 'list' object is not callable

## Variable length input and output

In [49]:
def sum(a, b, c = 0, d = 0):
    return a + b + c + d

In [50]:
a = sum(6,4,3,1)
a

14

In [51]:
def sum(a,b, *more):
    print(a)
    print(b)
    print(more)
    ans = a + b
    for i in more:
        ans += i
    return ans

In [52]:
c = sum(1,2,7,8,9,10)
c

1
2
(7, 8, 9, 10)

37

In [55]:
def sum2(a, b, *more):
    return a + b, a - b, a * b

In [56]:
sum2(4, 1)

(5, 3, 4)

## Dictionary

In [58]:
a = {"the":1, "a":5, 10000:"abc"}
type(a)

dict

In [59]:
a

{'the': 1, 'a': 5, 10000: 'abc'}

In [61]:
#another way of generating dictionary
c = dict([("the",3), ("a",10),(2,3)])
c

{'the': 3, 'a': 10, 2: 3}

In [62]:
d = dict.fromkeys(["abc",32,4])
d

{'abc': None, 32: None, 4: None}

In [63]:
e = dict.fromkeys(["abc",32,3], 10)
e

{'abc': 10, 32: 10, 3: 10}